<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techstar.nexchat">

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 读取您的SD卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 在其他应用之上显示内容 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NexChat"
        android:theme="@style/Theme.AppCompat.NoActionBar" >

        <activity
            android:name=".MainActivity"
			android:icon="@mipmap/ic_launcher"
            android:label="NexChat"
            
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity android:name=".SettingsActivity"/>

        <activity android:name=".ApiProvidersActivity"/>

        <activity 
			android:name=".AddProviderActivity"
			/>

        <activity 
			android:name=".CrashActivity"
			
			android:launchMode="singleInstance"
			android:excludeFromRecents="true"
			android:taskAffinity=""
			android:allowTaskReparenting="false"/>

    </application>

</manifest>
